{% extends "skeleton.html" %}
{% block name %}Alumni Database{% endblock %}
{% block header%}
    <header class="intro_sub soccent">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p align="left" class="brand-heading">"My goal is to see healthy children, healthy families, and healthy communities."</p>
                        <p align="left" class="intro-text">-Dr. Eri Srivatsan</p>
                    </div>
                </div> 
            </div>
        </div>
    </header>
    <!-- Small Green Border -->
    <div class="apply"></div>
{% endblock %}

{% block section %}
    <div class="container content-section text-center table-responsive">
        <div class="row">
            <div class="col-md-12">
                <h2 style="color:#5d5d5d">Alumni Database</h2>
                <hr>
            </div>
        </div>
        <table id="table" class="table table-hover table-striped table-bordered b" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th id="first_name">First Name</th>
                    <th id="last_name">Last Name</th>
                    <th id="email">Email</th>
                    <th id="chapter_aff">Chapter Affiliation</th>
                    <th id="curr_city">Current City</th>
                    <th id="occupation">Occupation</th>
                    <th id="institute_name">Institution Name</th>
                </tr>
            </thead>
            <tbody>
                {{ data| safe }}
            </tbody>
        </table>
    </div>
{% endblock %}