{% extends "skeleton.html" %}

{% block header%}
    <header class="intro_sub soccent">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p align="left" class="brand-heading">"My goal is to see healthy children, healthy families, and healthy communities."</p>
                        <p align="left" class="intro-text">-Dr. Eri Srivatsan</p>
                    </div>
                </div> 
            </div>
        </div>
    </header>
    <!-- Small Green Border -->
    <div class="apply"></div>
{% endblock %}

{% block section %}
    <div class="container content-section text-center table-responsive">
        <div class="row">
            <div class="col-md-12">
                <h2 style="color:#5d5d5d">Social Enterprise Database</h2>
                <hr>
            </div>
        </div>
        <table id="db-2" class="table table-hover table-striped table-bordered b" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th id="NGO">NGO</th>
                    <th id="Phone">Phone Number</th>
                    <th id="Sector">Sector</th>
                    <th id="State Based In">State Based In</th>
                    <th id="Chapter Affiliate">Chapter Affiliate</th>
                    <th id="Village Worked In">Village Worked In</th>
                    <th id="Email">Email</th>
                </tr>
            </thead>
            <tbody>
                {{ data| safe }}
            </tbody>
        </table>
    </div>
{% endblock %}